

.container_about{
position:relative;
z-index:1;
display:flex;
justify-content:center;
align-items:center;
flex-wrap:wrap;
margin : 40px 0;
font-family: 'Century Gothic', 'Comfortaa', serif;
}

.container_about .card_about{

position:relative;
width:300px;
height:400px;
background:rgba(255, 255, 255, 0.2);
margin:20px;
box-shadow: 0 15px 35px rgba(0,0,0,0.2);
border-radius: 15px;
display:flex;
justify-content: center;
align-items:center;
backdrop-filter:blur(80px);
}

.container_about .card_about .content_about{
position: relative;
display: flex;
justify-content:center;
align-items:center;
flex-direction:column;
opacity: 0.5;
transition:0.5s;
}

.container_about .card_about:hover .content_about{

opacity:1;
transform: translateY(-20px);
}

.container_about .card_about .content_about .imgBx{
position:relative;
width:150px;
height:150px;
border-radius:50%;
overflow:hidden;
border: 10px solid rgba(0,0,0,0.25);
}

.container_about .card_about .content_about .imgBx img {
position: absolute;
top:0;
left:0;
width: 100%;
height: 100%;
object-fit: cover;
}

.container_about .card_about .content_about .contentBx h3{
color: #fff;
text-transform: uppercase;
letter-spacing: 2px;
font-weight:500;
font-size:18px;
text-align:center;
margin: 20px 0 10px;
line-height: 1.1em;
}

.container_about .card_about .content_about .contentBx h3 span{

font-size:12px;
font-weight: 300;
text-transform: initial;
}

.container_about .card_about .sci{
position: absolute;
bottom: 50px;
display:flex;
}

.container_about .card_about .sci li{
list-style: none;
margin: 0 10px;
transform: translate(40px);
transition:0.5s;
transition-delay: calc(0.1s * var(--i));
}

.container_about .card_about:hover .sci li{

transform: translateY(0px);
opacity:1;
}

.container_about .card_about .sci li a{
color: #fff;
font-size: 24px;
}